html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

/*FLEX ITEMS*/
.nav-container, .nav-menu, .main-section,
.sc-heading, .footer-content, .dashboard-section,
.dash-header, .dash-components, .dash-component, .dash-component-icon,
.dash-component-title, .dash-component-help,
.products-section, .all-products-section,
.product-item, .product-image, .product-details, .sidebar-option {
    display: flex;
}

/*NAVIGATION BAR*/
.nav-container {
    padding: 12px 25px;
    /*background-color: #212121;*/
    background-color: #07020D;
}

.nav-logo {
    padding-left: 8px;
    padding-top: 6px;
}

.nav-logo-text {
    flex: max-content;
    padding: 8px;
    color: white;
    font-weight: 300;
    /*background-color: red;*/
}

.nav-menu {
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-menu button {
    background-color: #07020D;
    color: white;
    margin-left: 6px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 10%;
    font-family: 'Roboto', sans-serif;
    /*font-size: 20px;*/
    font-weight: 400;
}

.nav-menu button:hover {
    background-color: #379634;
    color: white;
    font-weight: 300;

}

/*MAIN CONTENT SECTION*/
.main-section {
    /*look into how to make this auto*/
    min-height: 600px;
    max-height: max-content;
    background-color: #cccccc;
}

/*LOG IN SUB SECTION*/
.login-section {
    /*background-color: #212121;*/
    background-color: #07020D;
    justify-content: center;
    font-weight: 100;
}

.footer-content {
    height: 70px;
    justify-content: center;
    padding-top: 20px;
    font-weight: 300;
}

.footer-section {
    color: white;
}

/*DASHBOARD*/
.dashboard-section {
    flex-grow: 1;
    flex-direction: column;
}

.dash-header {
    justify-content: center;
    font-weight: 100;
    font-size: 35px;
    padding-top: 20px;
    height: 80px;
}

.dash-components {
    flex-grow: 1;
    justify-content: space-around;
}

.dash-component {
    background-color: #ACABA0;
    margin: 10px;
    width: 30%;
    max-height: 180px;
    flex-direction: column;
}

.dash-component:hover {
    background-color: seagreen;
    color: white;
    border-radius: 15px;

}

.dash-component-icon, .dash-component-title, .dash-component-help {
    justify-content: center;
}

.dash-component-icon {
    padding: 10px;
}

.dash-component-title {
    font-weight: 300;
    font-size: 25px;
}

.dash-component-help {
    font-weight: 500;
    font-size: 13px;
}

/*PRODUCTS SUB SECTION*/
.products-section{
    flex-direction: column;
    flex: 3;
}
.all-products-section {
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.product-item {
    background-color: #ACABA0;
    margin: 10px;
    min-width: 40%;
    max-width: 40%;
    height: 100px;
}

.product-item:hover {
    background-color: #379634;
    color: #ffffff;
}

.product-image {
    background-color: wheat;
    width: 25%;
    justify-content: center;
}

.product-details {
    flex-direction: column;
    padding: 5px;
}

.product-details-extra {
    font-size: 14px;
}

.product-name {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    resize: horizontal;
}

.my-side-bar {
    flex: 1;
    /*background-color: #212121;*/
}

.categories-section {
    /*background-color: red;*/
    background-color: #07020D;
    color: #ffffff;
    margin: 10px;
    padding: 10px;
}

.categories-title {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px #ffffff solid;
}

.category-items {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.category-items:hover {
    background-color: #379634;
    color: #07020D;
}

.sidebar-option {
    justify-content: center;
    border-radius: 10px;
}

.sidebar-option:hover {
    background-color: #379634;
}
